.vscode
Module_0*/ex0*/obj/

Module_00/ex00/megaphone
Module_00/ex01/phonebook
Module_00/ex02/account

Module_01/ex00/BraiiiiiiinnnzzzZ
Module_01/ex01/MoarBrainz
Module_01/ex02/brain
Module_01/ex03/unecessary_violence
Module_01/ex04/SedIsForLosers
Module_01/ex05/harl
Module_01/ex06/HarlFilter

Module_02/ex00/Fixed
Module_02/ex01/Fixed
Module_02/ex02/Fixed
Module_02/ex03/bsp

Module_03/ex00/ClapTrap
Module_03/ex01/ScavTrap
Module_03/ex02/FragTrap
Module_03/ex03/DiamondTrap

Module_04/ex00/animal
Module_04/ex01/animalBrain
Module_04/ex02/Interface
Module_04/ex03/animal
